* {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}

button {
  margin-left: 40vw;
  width: 20vw;
  height: 3vh;
}

.active {
  background-color: rgb(255, 150, 150);
}

.timeOver {
  color: red;
}
