* {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0 1vw 0 1vw;
}

.waiting {
  filter: brightness(0) saturate(100%) invert(89%) sepia(16%) saturate(4635%)
    hue-rotate(301deg) brightness(107%) contrast(102%);
}

.active {
  filter: brightness(0) saturate(100%) invert(54%) sepia(91%) saturate(346%)
    hue-rotate(42deg) brightness(96%) contrast(82%);
}
.ruser-top {
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.onMove {
  color: #7bac33;
}

.timeOver {
  color: #ff0000;
}
